@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #5A5A5A;
$color-base: #FFFFFF;
$color-main: #ED145B;
$color-accent: #EDAA14;
$color-bg: #2B2B2B;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Verdana", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 900px, $w: 87.5%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

//共通部分-----------------------------------------------------------------

body {
    color: $color-text;
    font-size: rem(14);
    font-family: $font-family-gothic;
    line-height: math.div(24, 14);
    letter-spacing: #{math.div(25,1000)}em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.header {
    background-color: rgba($color: $color-bg, $alpha: 0.8);
    padding: $space-xxl 0;
    align-items: center;
    position: fixed;
    width: 100%;

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }
}

.gnav {
    color: $color-base;
    font-weight: bold;

    &__list {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        column-gap: $space-xl;
    }

    &__item--hov {
        color: $color-main;
    }
}

.footer {
    background-color: $color-bg;
    padding: $space-xxl 0 rem(140);

    &__copy {
        color: $color-base;
    }

    &__inner {
        @include inner();
    }
}

.btn {
    padding: $space-m $space-xxxl;
    display: block;
    color: $color-base;
    background-color: $color-main;
    width: rem(200);
    font-weight: bold;

}

.post {
    text-align: left;

    &__pic {
        margin-bottom: $space-l;
    }

    &__title {
        margin-bottom: rem(14);
        padding-bottom: rem(14);
        color: $color-bg;
        font-size: rem(16);
        font-weight: bold;
        border-bottom: 1px $color-text solid;
    }

    &__text {
        margin-bottom: $space-xxxl;
    }

    .btn {
        background-color: $color-accent;
    }
}

//index.html-----------------------------------------------------------------

.mainvisual {
    margin-bottom: rem(120);
    padding: rem(240) 0 rem(140);
    background: url(../images/bg_mainvisual.png) no-repeat center center / cover;
    text-align: left;

    &__inner {
        @include inner();
    }

    &__title {
        color: $color-base;
        margin-bottom: $space-xxl;
        font-size: rem(46);
        font-weight: bold;
        line-height: math.div(55, 46);
    }

    &__text {
        display: grid;
        row-gap: $space-l;
        color: $color-base;
        margin-bottom: $space-xxxl;
    }

    &__title--span {
        color: $color-main;
    }

    .btn {
        margin-left: 0;
        margin-right: auto;
    }

    @include mq() {
        text-align: center;

        .btn {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.updates {
    margin-bottom: rem(120);

    &__inner {
        @include inner();
    }

    &__title {
        margin-bottom: $space-xxxl;
        color: $color-bg;
        font-size: rem(32);
        font-weight: bold;
        line-height: math.div(38, 32);
    }

    &__list {
        display: grid;
        row-gap: rem(60);

        @include mq() {
            grid-template-columns: 1fr 1fr;
            column-gap: rem(60);
        }
    }

    @include mq() {
        text-align: center;
    }

}