@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px
$space-xxxxl: 5rem; // 80px
$space-xxxxxl: 7.5rem; // 120px

// --- Colors ---
$color-text: #000;
$color-base: #2F2F2F;
$color-main: #E40065;
$color-bg: #F4F4F4;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy":500px,
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1000px, $w: percentage(math.div(560, 640))) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin main-title($sub: "") {
    margin-bottom: rem(60);
    font-size: rem(32);
    font-weight: bold;
    line-height: math.div(54, 32);
    text-align: center;

    &::before {
        content: $sub;
        display: block;
        margin-bottom: rem(20);
        font-size: rem(14);
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;
    }

    &::after {
        content: "";
        border-bottom: $color-main 2px solid;
        display: block;
        margin: rem(25) auto 0;
        width: rem(100);
    }
}

/*共通部分-----------------------------------------------------------------------------------------*/

body {
    color: $color-text;
    font-size: rem(14);
    font-family: $font-family-gothic;
    line-height: math.div(24, 14);
    letter-spacing: ls(50);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.header {
    padding: $space-xxl 0;

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: rem(24);
        font-weight: bold;
        line-height: math.div(29, 24);
        letter-spacing: ls(100);
    }
}

.gnav {
    &__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: rem(30);
    }

    &__iitm {
        font-size: rem(12);
        line-height: math.div(14, 12);
    }

    &__active {
        color: $color-main;
    }
}

.footer {
    padding: rem(80) 0;
    color: #fff;
    background-color: $color-base;
    text-align: center;

    &__inner {
        @include inner;
    }

    &__copy {
        font-size: rem(12);
        font-weight: bold;
        line-height: math.div(20, 12);
    }
}

.post {

    &__pic {
        margin-bottom: rem(30);
        position: relative;
    }

    &__title {
        margin-bottom: rem(20);
        font-size: rem(18);
        font-weight: bold;
        line-height: math.div(31, 18);
    }

    &--new &__pic::after {
        content: "NEW";
        display: block;
        position: absolute;
        color: #FFFFFF;
        background-color: $color-main;
        padding: rem(5) rem(15);
        border-radius: rem(20);
        bottom: rem(15);
        left: rem(15);
    }
}

.card {
    display: grid;
    grid-template-rows: subgrid; //内包するようその高さを揃える
    grid-row: span 2; //内包する要素の数
    row-gap: $space-xxl;
    padding: rem(45) $space-xxl;
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    background-color: #fff;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    text-align: center;
    // align-self: end; //領域内の下に揃える
    column-gap: $space-m;

    &__term {
        font-weight: bold;
    }
}

/*index.html-----------------------------------------------------------------------------------------*/

.mainvisual {
    padding-bottom: rem(80);

    &__inner {
        @include inner();
    }
}

.philosophy {
    padding-bottom: $space-xxxxxl;

    &__inner {
        @include inner();
    }

    &__title {
        @include main-title("philosophy");
    }

    &__text {
        max-width: rem(780);
        margin: auto;
        text-align: center;
        display: grid;
        row-gap: rem(60);

        p {
            line-height: math.div(34, 14);
            overflow-wrap: anywhere; //長いメールアドレスや単語の途中で改行

            @include mq(philosophy) {
                word-break: keep-all; //文脈の途中で改行しない
            }
        }
    }
}

.works {
    padding-bottom: $space-xxxxxl;

    &__inner {
        @include inner();
    }

    &__title {
        @include main-title("works");
    }

    &__list {
        display: grid;
        row-gap: rem(60);

        @include mq() {
            grid-template-columns: 1fr 1fr;
            column-gap: $space-xxxxl;
        }
    }


}

.voice {
    padding: $space-xxxxl $space-xxxxxl;
    background-color: $color-bg;

    &__inner {
        @include inner();
    }

    &__title {
        @include main-title("voice");
    }

    &__list {
        display: grid;
        row-gap: rem(60);

        @include mq() {
            grid-template-columns: 1fr 1fr;
            column-gap: $space-xxxxl;
        }
    }
}











//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//%の挙動

// html {
//     height: 100%; //高さを％で指定するときは親要素にもheightが必要
// }

// body {
//     font-size: 200%; //(14/16)*100%
//     height: 500px;
// }

// h1 {
//     font-size: 257%; //(36/14)*100%
//     width: 50%;
//     height: 50%;
//     margin: 10%;
// }

// span {
//     font-size: 33.3%;
// }

//em(エム)の挙動

// body {
//     font-size: 1.125em; // (14/16) em
// }

// h1 {
//     font-size: 2.57em; // (36/14) em
//     width: #{math.div(200, 36)}em;
//     margin-bottom: #{math.div(30,36)}em; //font-sizeに合わせて一緒に増減する
// }

// span {
//     font-size: 0.33em; // (12/36) em
// }


//rem(レム)の挙動
// $space-xs: 0.25rem; //4px
// $space-m: 1rem; //16px
// $space-s: 0.5rem; //8px

// @function rem($px-value) {
//     @return#{math.div($px-value,16)}rem
// }

// html {
//     font-size: 0.75rem; //(12/16) rem
// }

// @media (640px <=width) {
//     html {
//         font-size: 1rem;
//     }
// }

// body {
//     font-size: rem(14); //(14/16) rem
// }

// h1 {
//     font-size: rem(36); //(36/16) rem
//     margin-bottom: $space-m;
// }

// span {
//     font-size: rem(12); //(12/16) rem
// }